.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  /* Set the flex direction to column */
}


label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}



.username-input {
  width: 30%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 40px;
  outline: none;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10px;
  /* Add margin between the inputs if needed */
}


.username-input::placeholder {
  color: white;
}

.button-containerU {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 20px auto;
  --button-container-width: 25%;
  --button-padding: 1rem;
}