.blinkingText {
  /* animation: blink 2s infinite; */
  /* Same duration as rectangles */
  font-size: 20px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  animation: none;
}

.blinkingText:hover {
  animation: blink 2s infinite;
  /* Blink animation on hover */
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  /* Adjust this property to control the spacing between buttons */
  gap: 3rem;
  width: 60rem;
}

.center-rectangle {
  background-color: aqua;
  /* Rectangle background color */

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  text-align: center;
  width: 100%;
  padding: var(--button-padding);
  /*animation: blink 2s infinite;*/
}

.Genres {
  font-size: 14px;
  margin: 20px auto;
  margin-top: -5px;
}

.removeLinkStyles {
  text-decoration: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greyBox {
  background-color: #222222;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%);
  width: 75%; */
}