.options-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 60%;
    margin: 0 auto;
}

.game {
    --button-padding: 2rem;
    display: grid;
    grid-template-rows: 10px 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    height: 100vh;
}