html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(-55deg, #1928f7, #4babff, #00b0f0, #7fbfde);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.titleH {
  font-size: 50px;
  color: aqua;
  white-space: nowrap;
  overflow: hidden;
  animation: pulse 1s infinite;

  /* Add a thick black border using text-shadow */
  text-shadow:
    -2px -2px 0 black, 0 -2px 0 black, 2px -2px 0 black,
    -2px 0 0 black, 2px 0 0 black,
    -2px 2px 0 black, 0 2px 0 black, 2px 2px 0 black;
}




.Welcome {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.genres {
  display: flex;
  align-content: center;
}

.genreHeader {
  margin-bottom: 1rem;
  color: #0CAFFF;
  font-size: 40px;
}

@media (max-width: 1020px) {
  .titleH {
    font-size: 40px;
  }
}


@media (max-width: 900px) {
  .titleH {
    font-size: 37px;
  }
}

@media (max-width: 790px) {
  .titleH {
    font-size: 32px;
  }
}

@media (max-width: 680px) {
  .titleH {
    font-size: 28px;
  }
}


@media (max-width: 599px) {
  .titleH {
    font-size: 22px;
  }
}

@media (max-width: 475px) {
  .titleH {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .titleH {
    font-size: 15px;
  }
}

@media (max-width: 310px) {
  .titleH {
    font-size: 12px;
  }
}


@media (max-width: 1300px) {
  /* .titleH {
    width: 1199px;
    text-align: center;
    font-size: 40px;
  } */

  .genreHeader {
    font-size: 28px;
  }
}