.titleH {
  font-size: 44px;
  color: aqua;
  white-space: nowrap;
  /* The code below (along with the keyframes) applies the transition to the title */
  overflow: hidden;
  /* Hide overflowing text */
  animation: typewriter 2s steps(40);
}

@keyframes typewriter {
  from {
    width: 0;
    /* Start with no text */
  }

  to {
    width: 100%;
    /* Display the entire text */
  }
}

.Welcome {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 24px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-container {
  display: flex;
  justify-content: center;
}

.genres {
  display: flex;
  align-content: center;
}

.genreHeader {
  margin-bottom: 1rem;
  color: #0CAFFF;
  font-size: 34px;
}

@media (max-width: 1020px) {
  .titleH {
    font-size: 40px;
  }
}


@media (max-width: 900px) {
  .titleH {
    font-size: 37px;
  }
}

@media (max-width: 790px) {
  .titleH {
    font-size: 32px;
  }
}

@media (max-width: 680px) {
  .titleH {
    font-size: 28px;
  }
}


@media (max-width: 599px) {
  .titleH {
    font-size: 22px;
  }
}

@media (max-width: 475px) {
  .titleH {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .titleH {
    font-size: 15px;
  }
}

@media (max-width: 310px) {
  .titleH {
    font-size: 12px;
  }
}


@media (max-width: 1300px) {
  /* .titleH {
    width: 1199px;
    text-align: center;
    font-size: 40px;
  } */

  .genreHeader {
    font-size: 28px;
  }
}